<div class="sensorItems">
	<!--------------------------------------------------------------------------------------->
	<mat-card *ngFor="let sensor of sensors let i = index" class="sensorCard">
		<mat-card-title>{{sensor.description}}</mat-card-title>
					<mat-card-content class="sensorContent">
						<app-temperature-gauge *ngIf="sensor.description=='Temperature'" [sensor]="sensor"></app-temperature-gauge>
						<app-windspeed-gauge *ngIf="sensor.description=='Wind speed'" [sensor]="sensor"></app-windspeed-gauge>
						<app-rain-gauge *ngIf="sensor.description=='Rain gauge'" [sensor]="sensor"></app-rain-gauge>
						<app-windDirection-gauge *ngIf="sensor.description=='Wind direction'" [sensor]="sensor"></app-windDirection-gauge>
						<app-humidity-gauge *ngIf="sensor.description=='Humidity'" [sensor]="sensor"></app-humidity-gauge>
						<app-uv-gauge *ngIf="sensor.description=='Ultraviolet'" [sensor]="sensor"></app-uv-gauge>
						<app-pressure-gauge *ngIf="sensor.description=='Pressure'" [sensor]="sensor"></app-pressure-gauge>
					</mat-card-content>
					<mat-card-actions *ngIf="user && weatherStationId && user.weatherId==weatherStationId">
    				<button mat-button (click)="openEditSensorSheet(sensor.id)"><mat-icon>mode_edit</mat-icon>EDIT</button>
    				<button mat-button (click)="openDeleteSensorSheet(sensor.id)"><mat-icon>delete</mat-icon>DELETE</button>
  				</mat-card-actions>
	</mat-card>
</div>
