<mat-dialog-content class="accent-color">
  <h1>Create conversion factor</h1>
  <form class="create-conversion-factor-form" (submit)="createConversionFactor($event)">
    <mat-form-field class="create-conversion-factor-form-width">
      <mat-select placeholder="Chose UnitKnowledge" [(ngModel)]="selectedToUnitKnowledge"  name="-1">
        <mat-option *ngFor="let unit of unitKnowledges" [value]="unit.id">
          {{ unit.name }} [{{unit.symbol}}]
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="create-conversion-factor-form-width">
      <mat-select placeholder="Chose UnitKnowledge" [(ngModel)]="selectedFromUnitKnowledge"  name="-1">
        <mat-option *ngFor="let unit of unitKnowledges" [value]="unit.id">
          {{ unit.name }} [{{unit.symbol}}]
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="create-conversion-formula" *ngIf="selectedToUnitKnowledge && selectedFromUnitKnowledge">
      <div class="create-conversion-formula-equals"><span style="margin-top=10px;">{{getSymbol(selectedToUnitKnowledge)}} = (</span></div>
      <div class="create-conversion-formula-math">
        <div class="create-conversion-formula-upper">
          ( {{getSymbol(selectedFromUnitKnowledge)}} *
          <mat-form-field style="width:40px">
            <input matInput #Mul placeholder="1" (keyup.enter)="writeMul(Mul.value)" (blur)="writeMul(Mul.value)" maxlength="50">
          </mat-form-field>
          <span>) + </span>
          <mat-form-field style="width:40px">
            <input matInput #Add placeholder="0" (keyup.enter)="writeAdd(Add.value)" (blur)="writeAdd(Add.value)" maxlength="50">
          </mat-form-field>
        </div>
        <div class="create-conversion-formula-bottom">
          <mat-form-field>
            <input matInput #Div placeholder="1" (keyup.enter)="writeDiv(Div.value)" (blur)="writeDiv(Div.value)" maxlength="50">
          </mat-form-field>
        </div>
      </div>
      <div class="create-conversion-formula-close"><span>);</span></div>
    </div>
    <div class="create-conversion-factor-form-width">
      <button mat-button>Create</button>
    </div>
  </form>
</mat-dialog-content>
