.create-conversion-factor-form{
  min-width: 100px;
  max-width: 600px;
  width: 100%;
}

.create-conversion-factor-form-width{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.create-conversion-formula{
  margin-top: 30px;
  width: 100%;
  height: 120px;
}



.create-conversion-formula-equals{
  width: 20%;
  float: left;
  height: 102px;
  margin-top: 18px;
}

.create-conversion-formula-math{
  width: 70%;
  float: left;
  margin-top: -39px;
  text-align: center;
  height: 120px;
}

.create-conversion-formula-upper{
  border-bottom: 1px solid;
}

.create-conversion-formula-bottom{

}

.create-conversion-formula-close{
  float:right;
  margin-top: 18px;
}
