.create-sensor-knowledge-form{
  min-width: 100px;
  max-width: 600px;
  width: 100%;
}

.create-sensor-knowledge-form-width{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
