.sensor-card{
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 10px;
}

.sensor-card-content img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.sensor-card-content-image{
  width: 200px;
  height: 200px;
  margin: auto;
  vertical-align: middle;
}

.cardElement{display: table;width: 100%;text-align: center;height: 100%;}

@font-face{font-family:weathertext;src:url(https://weather34.com/css/fonts/sanfranciscodisplay-regular-webfont.woff) format("woff");}

.temperatureElement{position: relative; display: -webkit-inline-box; margin-left: -146px;}

.value{color:#353535de; position: absolute; top: 6px; right: 46px;}
.temperatureLabel{position:absolute;}
.temperatureLabel{font-size:13px;top:-27px;left:42px;color:#aaa;}
.temperatureValue{position:absolute;top:0;left:25px;}
.circleyestemperature{-moz-border-radius:100%;-webkit-border-radius:100%;-o-border-radius:100%;-ms-border-radius:100%;width:44px;margin-left:-73px;}
.circleyestemperature{font-family:weathertext,Arial,sans-serif;height:120px;width:120px;display:table-cell;text-align:center;vertical-align:middle;color:#aaa;position:absolute;}
.circleyestemperature{line-height:120px;border-radius:100%;margin-top:23px;font-size:1.6em;border:1px solid rgba(95,96,97,.9);}
.temperatureSymbol{margin-left:3px;position:absolute;margin-top:86px;width:29px;font-size:1.00em;}



.valueMax{color:#ff5c41; position: absolute; top: 6px; right: 15px;}
.temperatureMaxLabel{position:absolute;}
.temperatureMaxLabel{font-size:9px;top:-6px;left:12px;color:#aaa;}
.temperatureMaxValue{position:absolute;top:104px;left:15px;}
.circleyesMaxtemperature{-moz-border-radius:100%;-webkit-border-radius:100%;-o-border-radius:100%;-ms-border-radius:100%;width:44px;margin-left:90px;}
.circleyesMaxtemperature{font-family:weathertext,Arial,sans-serif;height:44px;width:44px;display:table-cell;text-align:center;vertical-align:middle;color:#aaa;position:absolute;}
.circleyesMaxtemperature{line-height:40px;border-radius:100%;margin-top:-70px;font-size:0.7em;border:1px solid rgba(95,96,97,.9);}
.temperatureMaxSymbol{margin-left:112px;position:absolute;margin-top:-47px;width:29px;font-size:0.5em;}


.valueMin{color:#4144ff; position: absolute; top: 6px; right: 15px;}
.temperatureMinLabel{position:absolute;}
.temperatureMinLabel{font-size:9px;top:-6px;left:12px;color:#aaa;}
.temperatureMinValue{position:absolute;top:104px;left:73px;}
.circleyesMintemperature{-moz-border-radius:100%;-webkit-border-radius:100%;-o-border-radius:100%;-ms-border-radius:100%;width:44px;margin-left:32px;}
.circleyesMintemperature{font-family:weathertext,Arial,sans-serif;height:44px;width:44px;display:table-cell;text-align:center;vertical-align:middle;color:#aaa;position:absolute;}
.circleyesMintemperature{line-height:40px;border-radius:100%;margin-top:-10px;font-size:0.7em;border:1px solid rgba(95,96,97,.9);}
.temperatureMinSymbol{margin-left:54px;position:absolute;margin-top:12px;width:29px;font-size:0.5em;}
