<mat-toolbar id="header" color="primary"></mat-toolbar>

<div style="margin-top:100px"></div>

<mat-toolbar id="header" color="primary">
    <span><a class="home-bt-link" href="">{{ title }}</a></span>
    <span class="spacer"></span>
    <span *ngIf="user">Welcome {{user.username }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="user == null" mat-menu-item (click)="openLogin()">
        <mat-icon>fingerprint</mat-icon>
        <span>Sign in</span>
      </button>
      <button *ngIf="user" mat-menu-item (click)="logOut()">
        <mat-icon>fingerprint</mat-icon>
        <span>Log Out</span>
      </button>
      <button *ngIf="user && user.weatherId" mat-menu-item (click)="createSensor()">
        <mat-icon>library_add</mat-icon>
        <span>Add Sensor</span>
      </button>
      <button *ngIf="user && !user.weatherId" mat-menu-item (click)="createWeatherStation()">
        <mat-icon>library_add</mat-icon>
        <span>Add WeatherStation</span>
      </button>
      
    </mat-menu>
</mat-toolbar>
