<mat-dialog-content class="accent-color">
  <h1>Create new Sensor</h1>
  <form class="create-sensor-form" (submit)="createSensor($event)">

    <mat-form-field class="create-sensor-form-width">
      <input matInput #title placeholder="The Title of your Sensor" (keyup.enter)="addTitle(title.value)" (blur)="addTitle(title.value)" maxlength="50">
    </mat-form-field>

    <mat-form-field class="create-sensor-form-width">
      <mat-select placeholder="Chose sensor type" [(ngModel)]="selectedSensorKnowledge" name="-1">
        <mat-option *ngFor="let sensorK of sensorKnowledges" [value]="sensorK.id">
          {{ sensorK.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="create-sensor-form-width">
      <button mat-button>Create</button>
    </div>
  </form>
</mat-dialog-content>
