<div class="weather-item">

	<mat-tab-group (selectedTabChange)="onTabChange($event)">
		<mat-tab label="Current data">
			<div class="weather-temperature-div">
				<mat-grid-list cols="3" style="margin-top:40px" rowHeight="200px">
  				<mat-grid-tile [colspan]="1" [rowspan]="1">
							<img src="assets/images/weather-temperature-icons_354261.png" width="100px" height="100px" />
					</mat-grid-tile>
  				<mat-grid-tile [colspan]="2" [rowspan]="1">
						<div *ngIf="sensor.measure" class="temperature-sensor-value">
							<mat-list>
								<mat-form-field>
									<mat-select placeholder="Conversion" (change)="onChangeObj($event)">
										<mat-option *ngFor="let factor of conversionFactors; let i = index" [value]="i">
											{{ factor.fromSymbol }} => {{factor.toSymbol}}
										</mat-option>
										<mat-option [value]="-1">restore value</mat-option>
									</mat-select>
								</mat-form-field>
  							<mat-list-item class="actual-temperature" matTooltip="{{sensor.measure.dateTime | date: 'd/M/yy, H:mm'}}">{{sensor.measure.quantity | number:'.1'}}{{sensor.measure.symbol}}</mat-list-item>
  							<mat-divider></mat-divider>
  							<mat-list-item>
									<p *ngIf="sensor.maxMeasure else nan_max_mex" matTooltip="{{sensor.maxMeasure.dateTime | date: 'd/M/yy, H:mm'}}" class="max-temperature">{{sensor.maxMeasure.quantity | number:'.1'}}{{sensor.maxMeasure.symbol}}</p><ng-template #nan_max_mex ><p class="max-temperature" matTooltip="no data">NaN</p></ng-template>
														&nbsp;&nbsp;|&nbsp;&nbsp;
									<p *ngIf="sensor.minMeasure else nan_min_mex" matTooltip="{{sensor.minMeasure.dateTime | date: 'd/M/yy, H:mm'}}" class="min-temperature">{{sensor.minMeasure.quantity | number:'.1'}}{{sensor.minMeasure.symbol}}</p><ng-template #nan_min_mex ><p class="min-temperature" matTooltip="no data">NaN</p></ng-template>
								</mat-list-item>
							</mat-list>
						</div>
						<div *ngIf="!sensor.measure" style="color: #a90202; font-size: 30px;"><mat-icon>error</mat-icon> Error no data found!</div>
					</mat-grid-tile>
				</mat-grid-list>

			</div>
		</mat-tab>
		<mat-tab label="Chart">
			<div [hidden]="!chart" class="chartDv">
		    <canvas id="canvas-TemperatureGaugeComponent">{{ chart }}</canvas>
		  </div>
			<form class="draw-measure" (submit)="drawChart($event)">
				<mat-form-field>
  				<input matInput [matDatepicker]="fromDate" (dateChange)="addEvent('fromDate', $event)" placeholder="From date">
  		 			<mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
  					<mat-datepicker #fromDate></mat-datepicker>
					</mat-form-field>
					<mat-form-field>
	  				<input matInput [matDatepicker]="toDate" (dateChange)="addEvent('toDate', $event)" placeholder="To date">
	  		 			<mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
	  					<mat-datepicker #toDate></mat-datepicker>
						</mat-form-field>
						<button mat-button>Draw</button>
				</form>
		</mat-tab>
</mat-tab-group>

</div>
