

<div class="pressureElement">

  <div class="homeweathercompass2" style="background:none;border:0;">
    <div class="homeweathercompass-line2" style="background:none;border:0;">
      <div class="thearrow4"></div>
    </div>
  </div>
  <div class="homeweathercompass2">
    <div class="homeweathercompass-line2">
      <div class="thearrow3"></div>
    </div>
    <div class="text2">
      <div class="ored">1015.3</div>&nbsp;<span>hPa</span>
    </div>
  </div>
  <div class="barometerlimits">
    <div class="barometerlimits">
      <span class="oblue">950</span>      ----------------------------------     <span class="ored">1050</span>
    </div>
  </div>  

</div>
